/* google font - poppins */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');
/*variable for fonts*/
:root{
    --header-height : 3rem;
    --font-semi : 600;
}
/* variable for colors*/
:root{
    --first-color:#4070f4;
    --second-color:#0e2431;
    --gradient-color:linear-gradient(to right,#5001fb,#8e0af3);
}
/* variable for font style*/
:root{
    --body-font:'Roboto', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 0.938rem;
}

/* media screen min-width 768px */
@media screen and (min-width : 768px){
    :root{
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* Margins  */
:root{
    --mb-1 : 0.5rem;
    --mb-2 : 1rem;
    --mb-3 : 1.5rem;
    --mb-4 : 2rem;
    --mb-5 : 2.5rem;
    --mb-6 : 3rem;
}
/* z-index */
:root{
    --z-back : -10;
    --z-normal : 1;
    --z-tooltip : 10;
    --z-fixed : 100;
}

/* Base of website */
*, ::before, ::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);

}

h1,h2,p{
    margin: 0;

}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* custom css clsses*/
/*layout*/
.bdgrid{
    max-width: 1050px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width : clac(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* Navbar  */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width : 768px) {
    .nav_menu{
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: 0.5s;
    }
   
    
}

.nav_items{
    margin-bottom: var(--mb-4);
}
 .nav_link{
    position: relative;
    color: #fff;
    text-decoration: none;
 }

 .nav_link:hover{
    position: relative;
 }
 .nav_link:hover::after{
    position: absolute;
    content: ' ';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color:cadetblue; 
 }

.nav_logo{
    color: var(--second-color);
    text-decoration: none;
}

.nav_toggle{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*  Active menu    */
.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color:cadetblue;
}

.show{
    right: 0;
}
/* HOME */
.home{
    height: calc(100vh - 1rem);
    row-gap: 1rem;
}
.home_data{
    align-self: center;
}
.home_title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-3);
}
.home_title_color{
    color: var(--first-color);
}
.home_social{
    display: flex;
    flex-direction: column;
    margin-top: 0;

}
.home_social_icon{
     width: max-content;
     margin-bottom: var(--mb-2);
     font-size: 2.5rem;
     color: var(--second-color);
     
}
.home_social_icon:hover{
    color: var(--first-color);
}

.home_img {
    position: absolute;
    right: 0;
    left: 60%;
    bottom: 40%;
    width: 300px;
    max-width: 100%;
    
}

.home_img img {
    width: 100%;
    border-radius: 50%;
    max-height: 100%;
}

@media screen and (max-width: 768px) {
    .home_img {
        position: relative;
        width: 200px;
        margin: 0 auto;
    }
    
    .home_img img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .home_title{
       
        margin-top: 4rem;
    }
    .home_img {
        display:0;
        left: 10%;
    }
    .home_img img {
        width: 100%;
        
        left: 100%;
    }
    .home_social{
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
        align-self: flex-end;
    }
    .home_social_icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
        font-size: 2rem;
    }
    
}

/* .home_img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
}
.home_img img{
    width: 100%;
    border-radius: 50%;
}   */
    /* position: fixed; */
    /* justify-content: space-between;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 3px; */

    /* outline-offset: -12px;
    outline-color:aliceblue;
    outline-width: 100%;
    outline-style: solid;
    outline-width: 10px;
    position: relative; */




/* img{
    display: flex;
    height: 80vh;
    width: 100%;
    position: relative;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;

    outline-offset: 0px;
    outline-color :#5001fb;
    outline-width: 100%;
    outline-style: solid;
    outline-width: 15px;

} */

/* BUTTONS */
.home_data a{
    display: inline-block;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    background:var(--gradient-color);
    text-decoration: none;
    margin-top: 2rem;
}
.home_data a:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.50);
} 

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;

}
.section_title{
    position: relative;
    font-size: 35px;
    color: var(--first-color);
    margin-top:var(--mb-1);
    margin-bottom:var(--mb-1);
    text-align: center;
    background-color: aliceblue;
    height: 70px;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-weight: bolder;
    

}

/* .section_title::after{
    position: absolute;
    content: '';
    width: 70px ;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
} */
/* ABOUT SECTION */

.about_container{
    row-gap: 2rem;
    text-align: center;
}
.about_subtitle{
    margin-bottom: var(--mb-2);
    font-size: 30px;
    font-weight: bold;
    /* background: var(--gradient-color); */
    /* background-color: aliceblue; */
}
.about_img svg{
    width: 400px;
    border-radius: 0.5rem;
    /* outline-offset:10px;
    outline-color:#8e0af3;
    outline-width: 100%;
    outline-style: solid;
    outline-width: 1px; */
}
.about_text{
    text-align: justify;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}


/* SKILLS */
.skills_container{
    row-gap: 2rem;
    text-align: center;
}

.skills_subtitle{
    margin-bottom: var(--mb-4);
    text-align: center;
}
.skill_web{
    text-align: center;
    margin-bottom: var(--mb-3);
    /* background: linear-gradient(#4070f4,#12cfd9);
    width: 100%; */
}
.skills_text{
    margin-bottom: var(--mb-4);
    text-align: center;
}
.skills_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);

}

.skill_icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color:var(--first-color);

}

.skills_name{
    display: flex;
    align-items: center;
}
.skill_bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: 0.25rem;
    border-radius: 0.5rem;
    z-index: var(--z-back);
}
.skill_html,.skill_oops{
    width: 95%;
}

.skill_css,.skill_bs,.skill_java,.skill_sb,.skill_orc{
    width: 80%;
}
.skill_js ,.skill_sql, .skill_c , .skill_ReactJs,.skill_net,.skill_moc,.skill_jen{
    width: 70%;
}

.skill_python,.skill_ds,.skill_hib{
    width: 65%;
}
.skill_sec{
    width: 60%;
}

/* WORK */

.work_img{
    margin-top: 1rem;
    text-align: center;

}
.work_img img{
    margin: auto;
    margin-bottom: 2rem;

}
.work1{
    margin: 4rem;
}
/* .work_data{
    margin-top: var(--mb-3);
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem;
    margin-bottom: var(--mb-2);
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15); 
}
.work_data li{
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style-type: disc;
    font-weight: var(--font-semi);
    padding: 0.5rem 1rem; 
    margin-bottom: var(--mb-2);
    border-radius: 0.5rem;
    box-shadow: 0 3px 15px rgba(14, 36, 49, 0.15);
    
} */
/* #work {
    margin: 20px;
    margin-right: 4rem;
    margin-left: 4rem;
} */
.job {
    margin-top: 2rem;
    /* border-bottom: 1px solid #ddd; */
    /* padding-bottom: 10px; */
    margin-bottom: 5px;
    /* margin-right: 6rem;
    margin-left: 6rem; */
   

}

h2 {
    color: #333;
}

.company {
    font-weight: bold;
}

.date {
    color: #666;
    font-style: italic;
}

.description {
    margin-top: 10px;
    justify-content: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
    list-style-type: disc;
   
}

/* Project */

/* #project{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    font-family: var(--body-font);
} */

/* .project-card {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
} */

.project-card h3 {
    color:#8e0af3;
    margin-top: 10px;
    font-weight: bold;
}

.project-card p {
    color: #555;
}

.project-card a {
    /* display: block; */
    margin-top: 10px;
    color: var(--gradient-color);
    text-decoration: none;
    font-weight: bold;
}

.project-card a:hover {
    text-decoration: underline;
}

/* Education */

/* #education {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    font-family: var(--body-font);
} */

.education-block {
    margin-bottom: 4rem;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display:block;
}

.education-block h3 {
    margin-top: 10px;
    font-weight: bold;
}

.education-block p {
    color: #555;
    margin-bottom: 0;
}
/* CONTACT */
.control_button{
    display: block;
    color: #fff;
    cursor: pointer;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: 0.5rem;
    margin: auto;
    outline: none;
    background:var(--gradient-color);
}
.control_button:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.20);
} 

.control_input{
    width: 100%;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--second-color);
    outline: none;
    margin-bottom: var(--mb-3);
}

/* Footer section */
.footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem;
}
.footer_title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
}
.footer_socials{
    margin-top: var(--mb-4);
    margin-bottom: var(--mb-4);
}
.footer_icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2);
}



@media  screen and (min-width : 768px) {
    body{
        margin: 0;
    }
    .section{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section_title{
        margin-bottom: var(--mb-6);
    }
    .section_title::after{
        width: 80px;
        top: 3rem;
    }
    /* .nav_logo{
        margin-left: 1rem;
    } */
    .nav{
        height: calc(var(--header-height) + 1rem );
        /* background-color: cornflowerblue;
        width: 100%;
        max-width: 100%;
        margin-right: 5rem;
        margin-left: 0rem; */
    }
    .nav_items{
        margin-left: var(--mb-6);
        margin-bottom:0;
        /* position: relative; */
    }
    .nav_list{
        display: flex;
        padding-top: 0;
        

    }
    .nav_toggle{
        color: var(--second-color);
        margin-right: 3rem;
        display: none;

    }
    .nav_link{
        color: #0e2431;
    }
    .home{
        height: 100vh;
    }
    .home_data{
        align-self: flex-end;
    }
    .home_social{
        padding-top: 0;
        padding-bottom: 2.5rem;
        flex-direction: row;
        align-self: flex-end;
    }
    .home_social_icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
    }
    .home_img{
        width: 350px;
        bottom: 5%;
        position: absolute;
    }
    .home_img img{
        width: 100%;
    }
    .about_container, .skills_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: initial;

    }
    .about_img svg{
        width: 440px;
       
    }

    .work_container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .work_data{
        margin: auto;
        width: 100%;
    }
    .work_img img{
        width: 70%;
        margin-bottom: 5%;
    }
    .contact_form{
        width: 400px;
    }
    .contact_container{
        justify-items: center ;
    }
    .project-card {
        padding: 10px;
    }
   

    .education-block {
        padding: 10px;
    }

}

@media screen and (min-width : 1024px){
    .bdgrid{
        margin-left: auto;
        margin-right: auto;
    }

    .home_img {
        display:0;
        right: 8%;
    }
    .home_img img {
        width: 100%;
        
        left: 0;
    }
    .project-card { 
        padding: 10px;
        width: 100%;
    }
    .education-block {
        padding: 10px;
        width: 100%;
    }
    /* .home_title{
       
        margin-top: 4rem;
    }
    .home_img {
        display:0;
        left: 10%;
    }
    .home_img img {
        width: 100%;
        
        left: 100%;
    }
    .home_social{
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
        align-self: flex-end;
    }
    .home_social_icon{
        margin-bottom: 0;
        margin-right: var(--mb-4);
        font-size: 2rem;
    } */
}
 